Repository TracecatHQ/tracecat, pull requests merged in 2024-04, with the labels that each got.

#18 feat: Implement event streaming + console
  docker-compose.yaml
  frontend/src/app/layout.tsx
  frontend/src/app/workflows/[workflowId]/console/page.tsx
  frontend/src/app/workflows/layout.tsx
  frontend/src/components/confirmation-dialog.tsx
  frontend/src/components/console/console.tsx
  frontend/src/components/console/control-panel.tsx
  frontend/src/components/console/event-feed-item.tsx
  frontend/src/components/console/event-feed.tsx
  frontend/src/components/nav/workflow-switcher.tsx
  frontend/src/components/nav/workflows-nav.tsx
  frontend/src/components/workspace/action-node.tsx
  frontend/src/components/workspace/action-panel/form.tsx
  frontend/src/components/workspace/workflow-panel/runs.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/utils.ts
  frontend/src/providers/event-feed-stream.tsx
  frontend/src/types/schemas.ts
  pyproject.toml
  tracecat/api/app.py
  tracecat/api/completions.py
  tracecat/contexts.py
  tracecat/db.py
  tracecat/messaging/__init__.py
  tracecat/messaging/common.py
  tracecat/messaging/consumer.py
  tracecat/messaging/producer.py
  tracecat/runner/actions.py
  tracecat/runner/app.py
  tracecat/runner/events.py
  tracecat/runner/workflows.py
  tracecat/types/api.py
Labels: enhancement, frontend, engine

#17 feat(engine): Implement scheduled workflows
  Dockerfile.scheduler
  docker-compose.yaml
  pyproject.toml
  tests/test_scheduler.py
  tracecat/config.py
  tracecat/db.py
  tracecat/scheduler.py
  tracecat/types/schedules.py
Labels: enhancement, good first issue, engine

#21 test: Set shared env vars in conftest
  tests/conftest.py
  tests/test_auth.py
  tests/test_scheduler.py
  tests/test_templates.py
  tests/test_workflows.py
Labels: frontend, engine, tests, internal

#22 ci: Add supabase service to docker compose
  .env.example
  .gitignore
  Dockerfile.scheduler
  Dockerfile.supabase
  aws/stack.py
  docker-compose.yaml
  frontend/.env.example
  frontend/Dockerfile
  nginx/nginx.conf
  start.sh
  tracecat/auth.py
Labels: enhancement, frontend, engine, internal, cicd

#24 feat+fix: Patch macos local development build + update start script
  .env.example
  Dockerfile.scheduler
  docker-compose.yaml
  docs/installation.mdx
  frontend/src/lib/api.ts
  services.sh
  start.sh
Labels: enhancement, frontend, engine, fix

#34 fix: Reference backend API domain dynamically for frontend client/server components
  frontend/src/components/auth/login.tsx
  frontend/src/lib/auth.ts
  frontend/src/providers/session.tsx
  frontend/src/utils/supabase/client.ts
  frontend/src/utils/supabase/middleware.ts
  tracecat/auth.py
Labels: frontend, engine, fix

#35 feat: Pass build flags into services.sh
  services.sh
Labels: enhancement, frontend, engine

#36 feat(ui+engine): Extend secrets manager
  frontend/src/app/settings/credentials/page.tsx
  frontend/src/app/settings/layout.tsx
  frontend/src/components/confirmation-dialog.tsx
  frontend/src/components/new-credential-dialog.tsx
  frontend/src/lib/secrets.ts
  frontend/src/types/schemas.ts
  tests/test_auth.py
  tests/test_templates.py
  tracecat/api/app.py
  tracecat/auth.py
  tracecat/db.py
  tracecat/runner/templates.py
  tracecat/types/api.py
  tracecat/types/secrets.py
Labels: enhancement, frontend, engine

#38 feat: Integrate secrets manager with integration functions
  frontend/src/types/schemas.ts
  tests/test_integrations.py
  tracecat/concurrency.py
  tracecat/db.py
  tracecat/integrations/_registry.py
  tracecat/integrations/example.py
  tracecat/integrations/utils.py
  tracecat/logger.py
  tracecat/messaging/producer.py
  tracecat/runner/actions.py
  tracecat/secrets/README.md
  tracecat/secrets/__init__.py
  tracecat/secrets/helpers.py
  tracecat/types/actions.py
Labels: enhancement, engine

#39 docs: Update integrations docs
  docs/core/actions.mdx
  docs/core/integrations.mdx
Labels: documentation, frontend, engine

#45 feat(ui): Improve docstring formatting
  frontend/src/components/workspace/panel/integration/form.tsx
Labels: enhancement, frontend

#51 feat: Add endpoint to ping API / runner from runner / API
  aws/stack.py
  tracecat/api/app.py
  tracecat/runner/app.py
Labels: bug, frontend, engine, fix

#52 build: Split dev and prod into separate run options
  docker-compose.override.yaml
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/installation.mdx
  services.sh
Labels: frontend, engine, build

#54 build: Generate Fernet key using ephemeral Docker container during installation
  services.sh
Labels: enhancement, frontend, engine, build

#57 feat(ui+engine): Add basic case autocomplete persistence
  frontend/src/components/cases/table.tsx
  frontend/src/lib/cases.ts
  frontend/src/providers/cases.tsx
  tracecat/types/api.py
Labels: enhancement, frontend, engine

#53 fix: Improve exception handling for auth callback new user flow
  frontend/src/app/auth/callback/route.ts
  frontend/src/lib/auth.ts
Labels: frontend, engine, fix

#60 feat+refactor(ui): Add autocomplete commit confirmation + move some state into the provider
  frontend/src/components/cases/table.tsx
  frontend/src/providers/cases.tsx
Labels: enhancement, frontend

#64 feat(ui+engine): Improve case management [1/N]
  frontend/src/app/settings/credentials/page.tsx
  frontend/src/components/cases/columns.tsx
  frontend/src/components/cases/panel-content.tsx
  frontend/src/components/console/control-panel.tsx
  frontend/src/components/new-credential-dialog.tsx
  frontend/src/components/shallow-kv-table.tsx
  frontend/src/components/workspace/panel/action/form.tsx
  frontend/src/components/workspace/panel/action/schemas.tsx
  frontend/src/components/workspace/panel/common.tsx
  frontend/src/providers/case-panel.tsx
  frontend/src/styles/tailwind.ts
  frontend/src/types/schemas.ts
  frontend/src/types/validators.ts
  tracecat/db.py
  tracecat/runner/actions.py
  tracecat/types/api.py
  tracecat/types/cases.py
Labels: enhancement, frontend, engine

#63 feat(engine): AWS CloudTrail gzipped json reader
  pyproject.toml
  tests/conftest.py
  tests/data/log_samples/aws_cloudtrail/cloudtrail_insights.json
  tests/data/log_samples/aws_cloudtrail/cloudtrail_update_trail_error.json
  tests/data/log_samples/aws_cloudtrail/ec2_create_key_pair.json
  tests/data/log_samples/aws_cloudtrail/ec2_start_instances.json
  tests/data/log_samples/aws_cloudtrail/ec2_stop_instances.json
  tests/data/log_samples/aws_cloudtrail/iam_add_user_to_group.json
  tests/data/log_samples/aws_cloudtrail/iam_create_role.json
  tests/data/log_samples/aws_cloudtrail/iam_create_user.json
  tests/data/log_samples/aws_cloudtrail/kms_rotate_keys.json
  tests/etl/test_aws_cloudtrail.py
  tracecat/config.py
  tracecat/etl/aws_cloudtrail.py
  tracecat/etl/aws_s3.py
Labels: enhancement, engine

#68 feat(engine+ui): Add Datadog security signals actions
  .env.example
  frontend/src/types/schemas.ts
  tracecat/integrations/datadog.py
  tracecat/types/actions.py
Labels: enhancement, frontend, engine, integrations

#80 feat(ui): Add change case priority controls
  frontend/src/components/cases/panel-content.tsx
Labels: enhancement, frontend

#81 fix(ui): Prevent checkbox from propagating click event
  frontend/src/components/cases/columns.tsx
Labels: frontend, fix

#84 docs(fix): Missing change for integraitons
  docs/core/integrations.mdx
Labels: documentation, fix

#79 feat(integration): VirusTotal file hash and URL reports
  .env.example
  frontend/src/components/icons.tsx
  frontend/src/types/schemas.ts
  tests/integrations/test_virustotal.py
  tracecat/integrations/__init__.py
  tracecat/integrations/virustotal.py
  tracecat/types/actions.py
Labels: enhancement, good first issue, integrations

#92 fix(ui+engine): Rename Case.title to case_title
  frontend/src/components/cases/columns.tsx
  frontend/src/components/cases/panel-content.tsx
  frontend/src/components/cases/table.tsx
  frontend/src/components/workspace/panel/action/schemas.tsx
  tracecat/db.py
  tracecat/runner/actions.py
  tracecat/types/api.py
  tracecat/types/cases.py
Labels: frontend, engine, fix

#94 docs: Update installation to include supabase cli
  docs/installation.mdx
Labels: documentation, frontend, engine, fix

#88 feat: Add native AWS CloudTrail query integration
  tracecat/etl/query_builder.py
  tracecat/integrations/aws_cloudtrail.py
Labels: enhancement, frontend, engine, integration

#98 feat(integration): Emailrep check reputation
  .env.example
  tests/data/log_samples/emailrep/email.json
  tests/integrations/test_emailrep.py
  tracecat/integrations/emailrep.py
Labels: enhancement, good first issue, integration

#101 feat(integration): Sublime Security
  .env.example
  frontend/src/components/icons.tsx
  frontend/src/types/schemas.ts
  tests/data/log_samples/sublime/webhook.json
  tracecat/integrations/__init__.py
  tracecat/integrations/sublime.py
  tracecat/integrations/sublime_security.py
  tracecat/types/actions.py
Labels: enhancement, integration

#104 feat(integration): Get Project Discovery scan results
  tests/data/log_samples/project_discovery/results/get_all_results.json
  tests/integrations/test_project_discovery.py
  tracecat/integrations/__init__.py
  tracecat/integrations/project_discovery.py
Labels: enhancement, integration

#111 fix(integration): Add secrets for aws cloudtrail
  tracecat/integrations/aws_cloudtrail.py
Labels: integration, fix

#113 feat(ui): Add clearer hierarchical style
  frontend/src/components/workspace/catalog/action-catalog.tsx
Labels: enhancement, frontend

#115 refactor(engine): Remove Tantivy
  pyproject.toml
  tracecat/api/app.py
  tracecat/db.py
  tracecat/runner/actions.py
Labels: engine
