Repository TracecatHQ/tracecat, pull requests merged in 2024-07, with the labels that each got.

#208 feat(playbook): Add example with LLMs and VirusTotal enrichment
  playbooks/enrichment/triage-using-llms.yml
  tests/integration/test_playbooks.py
  tests/unit/integrations/test_extraction.py
  tracecat/actions/etl/extraction/__init__.py
  tracecat/actions/etl/extraction/url.py
Labels: enhancement, integration, playbooks

#218 perf(engine): Use asyncio eager task factory for worker event loop
  tracecat/dsl/worker.py
Labels: engine, performance

#222 feat(engine): Add commit time validation
  tests/conftest.py
  tests/integration/test_validation.py
  tests/unit/test_auth.py
  tests/unit/test_concurrency.py
  tests/unit/test_expressions.py
  tests/unit/test_sandbox.py
  tests/unit/test_workflows.py
  tracecat/api/app.py
  tracecat/auth/clients.py
  tracecat/auth/credentials.py
  tracecat/cli/_config.py
  tracecat/config.py
  tracecat/dsl/client.py
  tracecat/dsl/common.py
  tracecat/dsl/dispatcher.py
  tracecat/dsl/schedules.py
  tracecat/dsl/worker.py
  tracecat/dsl/workflow.py
  tracecat/expressions/__init__.py
  tracecat/expressions/engine.py
  tracecat/expressions/eval.py
  tracecat/expressions/functions.py
  tracecat/expressions/patterns.py
  tracecat/expressions/shared.py
  tracecat/expressions/visitors/__init__.py
  tracecat/expressions/visitors/base.py
  tracecat/expressions/visitors/evaluator.py
  tracecat/expressions/visitors/validator.py
  tracecat/registry.py
  tracecat/types/api.py
  tracecat/types/auth.py
  tracecat/types/exceptions.py
  tracecat/types/validation.py
  tracecat/validation.py
Labels: enhancement, engine

#223 refactor(cli): Move CLI into subpackage
  .github/workflows/test.yml
  cli/README.md
  cli/pyproject.toml
  cli/tracecat_cli/__init__.py
  cli/tracecat_cli/__main__.py
  cli/tracecat_cli/_client.py
  cli/tracecat_cli/_config.py
  cli/tracecat_cli/_utils.py
  cli/tracecat_cli/dev.py
  cli/tracecat_cli/main.py
  cli/tracecat_cli/schedule.py
  cli/tracecat_cli/secret.py
  cli/tracecat_cli/workflow.py
  requirements.txt
  tests/integration/shared.py
  tests/integration/test_playbooks.py
  tests/integration/test_validation.py
  tests/unit/test_cli.py
  tracecat/cli/secret.py
  tracecat/cli/workflow.py
  tracecat/telemetry/__init__.py
  tracecat/telemetry/capture.py
  tracecat/telemetry/events.py
  tracecat/telemetry/posthog.py
Labels: internal

#225 feat(engine): Dockerise Tracecat CLI
  .github/workflows/build-push-images.yml
  Dockerfile.cli
  cli/pyproject.toml
  cli/tracecat_cli/__init__.py
  cli/tracecat_cli/main.py
  docs/using-the-cli.mdx
  tracecat/__init__.py
Labels: enhancement, engine, cicd, build

#226 feat+refactor(engine): Validate trigger input + dsl module refactoring
  cli/tracecat_cli/dev.py
  playbooks/alert_management/aws-guardduty-to-slack.yml
  tests/data/workflows/integration_send_slack.yml
  tests/integration/test_playbook_validation.py
  tests/shared.py
  tests/unit/test_expressions.py
  tests/unit/test_graph.py
  tests/unit/test_validation.py
  tracecat/api/app.py
  tracecat/converters.py
  tracecat/dsl/common.py
  tracecat/dsl/dispatcher.py
  tracecat/dsl/graph.py
  tracecat/dsl/io.py
  tracecat/dsl/models.py
  tracecat/dsl/schedules.py
  tracecat/dsl/validation.py
  tracecat/dsl/worker.py
  tracecat/dsl/workflow.py
  tracecat/expressions/engine.py
  tracecat/expressions/visitors/__init__.py
  tracecat/expressions/visitors/validator.py
  tracecat/types/api.py
  tracecat/types/validation.py
  tracecat/validation.py
Labels: enhancement, engine

#230 feat: Update Datadog extract emails to slack playbook + add new transform actions
  docker-compose.dev.yml
  playbooks/alert_management/aws-guardduty-to-slack.yml
  playbooks/alert_management/datadog-extract-email-to-slack.yml
  tests/data/workflows/integration_send_slack.yml
  tests/data/workflows/unit_transform_filter_dict.yml
  tests/data/workflows/unit_transform_filter_dict_expected.yml
  tests/data/workflows/unit_transform_filter_function.yml
  tests/data/workflows/unit_transform_filter_function_expected.yml
  tests/unit/test_expressions.py
  tests/unit/test_functions.py
  tests/unit/test_workflows.py
  tracecat/actions/core/transform.py
  tracecat/actions/integrations/chat/slack.py
  tracecat/config.py
  tracecat/dsl/common.py
  tracecat/dsl/dispatcher.py
  tracecat/dsl/workflow.py
  tracecat/expressions/functions.py
  tracecat/expressions/parser/evaluator.py
  tracecat/expressions/parser/grammar.py
  tracecat/expressions/parser/validator.py
  tracecat/expressions/shared.py
  tracecat/expressions/validation.py
Labels: enhancement, frontend, engine

#231 ci(fix): Replace incorrect build-args with expressions
  .github/workflows/build-push-images.yml
  .github/workflows/test-pnpm-build.yml
Labels: cicd, fix, internal

#232 feat(engine): Improve error handling in workflow runner
  .pre-commit-config.yaml
  pyproject.toml
  requirements-lint.txt
  tests/data/workflows/unit_error_fatal.yml
  tests/unit/test_workflows.py
  tracecat/auth/sandbox.py
  tracecat/dsl/dispatcher.py
  tracecat/dsl/workflow.py
  tracecat/expressions/functions.py
Labels: enhancement, engine

#216 ci(infra): Single tenant lite AWS CDK stack
  .env.example
  .github/workflows/deploy-to-aws.yml
  .github/workflows/test.yml
  Dockerfile
  aws/app.py
  aws/pyproject.toml
  aws/tracecat_cdk/__init__.py
  aws/tracecat_cdk/alb.py
  aws/tracecat_cdk/config.py
  aws/tracecat_cdk/fargate.py
  aws/tracecat_cdk/rds.py
  aws/tracecat_cdk/route53.py
  aws/tracecat_cdk/vpc.py
  docker-compose.yml
  docs/deployment.mdx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/set-env.js
  frontend/src/providers/posthog.tsx
  pyproject.toml
  tracecat/api/app.py
  tracecat/auth/credentials.py
  tracecat/config.py
  tracecat/db/engine.py
Labels: cicd, self-hosted, internal

#234 feat: Workflow execution history service and UI
  frontend/.eslintignore
  frontend/openapi-ts.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/workflows/[workflowId]/executions/event-details.tsx
  frontend/src/app/workflows/[workflowId]/executions/event-history.tsx
  frontend/src/app/workflows/[workflowId]/executions/nav.tsx
  frontend/src/app/workflows/[workflowId]/executions/page.tsx
  frontend/src/client/core/ApiError.ts
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/ApiResult.ts
  frontend/src/client/core/CancelablePromise.ts
  frontend/src/client/core/OpenAPI.ts
  frontend/src/client/core/request.ts
  frontend/src/client/index.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/icons.tsx
  frontend/src/components/nav/workflow-nav.tsx
  frontend/src/components/notifications.tsx
  frontend/src/components/ui/hover-card.tsx
  frontend/src/components/workspace/panel/workspace-panel.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/event-history.ts
  frontend/src/lib/hooks.ts
  tracecat/api/app.py
  tracecat/workflow/models.py
  tracecat/workflow/service.py
Labels: enhancement, frontend, engine

#235 feat+refactor: Move dsl dispatcher into workflow executions service + add create workflow execution api
  frontend/src/app/workflows/[workflowId]/executions/event-details.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/api/app.py
  tracecat/auth/clients.py
  tracecat/dsl/dispatcher.py
  tracecat/workflow/models.py
  tracecat/workflow/service.py
Labels: enhancement

#236 feat(ui): Update workflow execution UI to hit workflow executions endpoint + use json viewer
  frontend/src/components/nav/workflow-nav.tsx
  frontend/src/components/workspace/panel/workflow/controls.tsx
  frontend/src/components/workspace/panel/workflow/form.tsx
  frontend/src/components/workspace/panel/workspace-panel.tsx
Labels: enhancement, frontend

#237 refactor(engine): Remove legacy runs and events
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/api/app.py
  tracecat/db/schemas.py
  tracecat/types/api.py
Labels: engine, internal

#238 feat(ui): Update validation for action panel
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/workspace/panel/udf-panel.tsx
  frontend/src/components/workspace/panel/workflow/controls.tsx
  frontend/src/lib/udf.ts
  tracecat/api/app.py
  tracecat/dsl/validation.py
Labels: enhancement, frontend

#239 refactor(ui): Update navbar components + move workflow run trigger into navbar
  frontend/src/components/nav/community.tsx
  frontend/src/components/nav/navbar.tsx
  frontend/src/components/nav/user-nav.tsx
  frontend/src/components/nav/workflow-nav.tsx
Labels: frontend, internal

#240 feat(ui): Replace json view editor with yaml monaco editor
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/workspace/panel/udf-panel.tsx
Labels: enhancement, frontend

#241 feat(ui): Replace workflow run editor with monaco editor
  frontend/src/components/nav/workflow-nav.tsx
  frontend/src/components/workspace/panel/udf-panel.tsx
Labels: enhancement, frontend

#243 feat(ui): Add secret schema + hover info to action panel schema section
  frontend/src/components/jsonschema-table.tsx
  frontend/src/components/workspace/panel/udf-panel.tsx
  frontend/src/lib/jsonschema.ts
Labels: enhancement, frontend

#242 feat: Update schedule management UI
  frontend/src/app/workflows/[workflowId]/executions/nav.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/components/nav/workflow-nav.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/workspace/canvas/canvas.tsx
  frontend/src/components/workspace/canvas/trigger-node.tsx
  frontend/src/components/workspace/panel/trigger-panel.tsx
  frontend/src/lib/hooks.ts
  frontend/src/lib/time.ts
  tracecat/api/app.py
  tracecat/config.py
  tracecat/identifiers/schedules.py
  tracecat/identifiers/workflow.py
Labels: enhancement, frontend, engine

#244 feat(engine): Use JSONB instead of JSON
  tracecat/db/schemas.py
Labels: enhancement, engine

#245 feat(integration): Slack list past messages
  playbooks/alert_management/datadog-extract-email-to-slack.yml
  playbooks/enrichment/tag-user-in-slack-scheduled.yml
  playbooks/enrichment/tag-user-in-slack.yml
  tracecat/actions/etl/extraction/email.py
  tracecat/actions/integrations/chat/__init__.py
  tracecat/actions/integrations/chat/slack.py
Labels: enhancement, integration

#247 build(engine): Replace `polars` with `polars-lts-cpu`
  pyproject.toml
  tracecat/actions/etl/extraction/email.py
Labels: engine, fix, build

#251 feat(engine): Tag Slack users from JSON objects
  playbooks/alert_management/datadog-extract-email-to-slack.yml
  playbooks/enrichment/tag-user-in-slack-scheduled.yml
  playbooks/enrichment/tag-user-in-slack.yml
  tracecat/actions/etl/extraction/email.py
  tracecat/actions/integrations/chat/slack.py
Labels: enhancement, engine

#250 feat(engine+ui): Replace lancedb with postgres
  .github/workflows/deploy-to-aws.yml
  Dockerfile
  docs/api-reference/reference/cases/get-case-metrics.mdx
  docs/api-reference/reference/cases/streaming-autofill-case-fields.mdx
  docs/integrations/udfs/core_open_case.mdx
  docs/openapi.yml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/categories.tsx
  frontend/src/components/cases/columns.tsx
  frontend/src/components/cases/data/cases.json
  frontend/src/components/cases/data/cases_pizza.json
  frontend/src/components/cases/panel-content.tsx
  frontend/src/components/cases/table.tsx
  frontend/src/components/data-table/view-options.tsx
  frontend/src/components/events/columns.tsx
  frontend/src/components/events/data-table-toolbar.tsx
  frontend/src/components/events/data-table.tsx
  frontend/src/components/events/data/schema.ts
  frontend/src/components/nav/workflow-nav.tsx
  frontend/src/components/query-builder.tsx
  frontend/src/components/table/table.tsx
  frontend/src/components/table/view-options.tsx
  frontend/src/components/timeline.tsx
  frontend/src/components/workspace/panel/workflow/controls.tsx
  frontend/src/components/workspace/panel/workflow/runs.tsx
  frontend/src/lib/cases.ts
  frontend/src/lib/workflow.ts
  frontend/src/providers/cases.tsx
  frontend/src/types/schemas.ts
  pyproject.toml
  tracecat/actions/core/cases.py
  tracecat/api/app.py
  tracecat/api/completions.py
  tracecat/db/engine.py
  tracecat/db/schemas.py
  tracecat/types/api.py
  tracecat/types/cases.py
Labels: enhancement, frontend, engine

#253 feat: Implement child workflow core functionality
  frontend/src/app/workflows/[workflowId]/executions/event-details.tsx
  frontend/src/app/workflows/[workflowId]/executions/event-history.tsx
  frontend/src/app/workflows/[workflowId]/executions/nav.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/icons.tsx
  frontend/src/lib/event-history.ts
  frontend/src/lib/jsonschema.ts
  tests/conftest.py
  tests/data/workflows/unit_child_workflow_child.yml
  tests/data/workflows/unit_child_workflow_parent.yml
  tests/data/workflows/unit_child_workflow_parent_expected.yml
  tests/unit/test_workflows.py
  tracecat/actions/__init__.py
  tracecat/actions/core/workflow.py
  tracecat/api/app.py
  tracecat/dsl/common.py
  tracecat/dsl/schedules.py
  tracecat/dsl/worker.py
  tracecat/dsl/workflow.py
  tracecat/expressions/eval.py
  tracecat/registry.py
  tracecat/types/api.py
  tracecat/workflow/definitions.py
  tracecat/workflow/executions.py
  tracecat/workflow/models.py
Labels: enhancement, frontend, engine

#254 fix(ui): Graph layout and positioning fix + some UX
  frontend/src/components/nav/workflow-nav.tsx
  frontend/src/components/workspace/canvas/canvas.tsx
  frontend/src/components/workspace/canvas/trigger-node.tsx
  frontend/src/components/workspace/canvas/udf-node.tsx
  frontend/src/components/workspace/catalog/udf-catalog.tsx
  frontend/src/components/workspace/panel/udf-panel.tsx
  frontend/src/components/workspace/panel/workspace-panel.tsx
  frontend/src/lib/time.ts
  frontend/src/lib/workflow.ts
  tracecat/api/app.py
Labels: frontend, fix

#256 fix(playbooks): Update virustotal action namespace
  playbooks/enrichment/triage-using-llms.yml
  playbooks/threat_intel/virustotal-to-email.yml
Labels: fix

#257 fix(ui): Fix editing actions and other small issues
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/copy-button.tsx
  frontend/src/components/jsonschema-table.tsx
  frontend/src/components/nav/workflow-nav.tsx
  frontend/src/components/workspace/canvas/canvas.tsx
  frontend/src/components/workspace/panel/trigger-panel.tsx
  frontend/src/components/workspace/panel/udf-panel.tsx
  frontend/src/components/workspace/panel/workflow/form.tsx
  frontend/src/lib/hooks.ts
  frontend/src/lib/utils.ts
  frontend/src/lib/workflow.ts
  frontend/src/providers/workflow.tsx
  tracecat/api/app.py
  tracecat/dsl/common.py
  tracecat/identifiers/__init__.py
  tracecat/workflow/definitions.py
  tracecat/workflow/models.py
Labels: frontend, fix

#252 ci(infra): Fix worker connect to temporal server
  .github/workflows/deploy-to-aws.yml
  aws/app.py
  aws/tracecat_cdk/alb.py
  aws/tracecat_cdk/fargate.py
  aws/tracecat_cdk/vpc.py
  docker-compose.dev.yml
  docker-compose.yml
Labels: cicd, fix, internal

#259 feat(engine): Add SMTP support to core mail action
  .env.example
  docker-compose.yml
  frontend/src/components/icons.tsx
  tracecat/actions/core/email.py
  tracecat/actions/integrations/__init__.py
  tracecat/actions/integrations/email/__init__.py
  tracecat/actions/integrations/email/resend.py
Labels: enhancement, engine

#261 feat(ui): Add action control flow, workflow static inputs and workflow return value expression
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/editor.tsx
  frontend/src/components/nav/workflow-nav.tsx
  frontend/src/components/workspace/canvas/udf-node.tsx
  frontend/src/components/workspace/panel/trigger-panel.tsx
  frontend/src/components/workspace/panel/udf-panel.tsx
  frontend/src/components/workspace/panel/workflow/form.tsx
  frontend/src/lib/hooks.ts
  frontend/src/providers/workflow.tsx
  frontend/src/styles/globals.css
  frontend/src/types/schemas.ts
  playbooks/alert_management/aws-guardduty-to-cases.yml
  playbooks/alert_management/aws-guardduty-to-slack.yml
  playbooks/alert_management/crowdstrike-to-cases-no-slack.yml
  playbooks/alert_management/crowdstrike-to-cases.yml
  playbooks/alert_management/datadog-to-cases.yml
  playbooks/alert_management/sentinel-one-to-slack.yml
  playbooks/alert_management/slack-to-crowdstrike-update.yml
  playbooks/alert_management/slack-to-sentinel-one-update.yml
  playbooks/enrichment/tag-user-in-slack-scheduled.yml
  playbooks/enrichment/tag-user-in-slack.yml
  tests/data/workflows/unit_child_workflow_child.yml
  tests/shared.py
  tests/unit/test_cli.py
  tracecat/api/app.py
  tracecat/db/schemas.py
  tracecat/dsl/common.py
  tracecat/dsl/graph.py
  tracecat/types/api.py
  tracecat/workflow/management.py
  tracecat/workflow/models.py
Labels: enhancement, frontend

#266 feat(integration): Okta integration (user management and sessions)
  tracecat/actions/integrations/__init__.py
  tracecat/actions/integrations/iam/__init__.py
  tracecat/actions/integrations/iam/okta.py
Labels: enhancement, integration

#263 Add new SentinelOne actions: lookup by username, hostname, isolate, unisolate
  tracecat/actions/integrations/edr/__init__.py
  tracecat/actions/integrations/edr/sentinel_one.py
Labels: enhancement, integration

#262 build: Add dev Dockerfile and docker-compose yml
  Dockerfile.dev
  docker-compose.dev.yml
Labels: frontend, engine, build

#267 feat: Add cancel and terminate
  cli/tracecat_cli/workflow.py
  frontend/src/app/workflows/[workflowId]/executions/event-history.tsx
  frontend/src/app/workflows/[workflowId]/executions/nav.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/api/app.py
  tracecat/workflow/executions.py
  tracecat/workflow/models.py
Labels: enhancement, frontend, engine

#269 Okta enhancement/fix
  tracecat/actions/integrations/iam/__init__.py
  tracecat/actions/integrations/iam/okta.py
Labels: enhancement, good first issue, integration

#270 feat(engine): Return exceptions from child workflows as DSLExecutionError objects
  tracecat/dsl/workflow.py
Labels: enhancement, engine

#273 feat(ui): Improve node handles + add node silhouette + add selector node
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/workspace/canvas/canvas.tsx
  frontend/src/components/workspace/canvas/custom-handle.tsx
  frontend/src/components/workspace/canvas/selector-node.tsx
  frontend/src/components/workspace/canvas/trigger-node.tsx
  frontend/src/components/workspace/canvas/udf-node.tsx
  frontend/src/components/workspace/catalog/udf-catalog.tsx
  frontend/src/components/workspace/panel/workspace-panel.tsx
  frontend/src/lib/workflow.ts
  frontend/src/providers/builder.tsx
Labels: enhancement, frontend

#276 feat(ui): Add runtime client side api config
  frontend/Dockerfile.prod
  frontend/docker/entrypoint.sh
  frontend/public/runtime-config.js
  frontend/src/app/layout.tsx
  frontend/src/lib/api.ts
Labels: enhancement, frontend

#272 ci(infra): [Part 1 / 2] Add internal ALB to direct fargate traffic to temporal
  .github/workflows/deploy-to-aws.yml
  aws/app.py
  aws/tracecat_cdk/fargate.py
Labels: cicd, fix, internal, priority:high

#278 feat(integration): Add Sentinel One firewall control rule + refactors
  tracecat/actions/integrations/edr/sentinel_one.py
Labels: enhancement, integration

#281 fix: Check API_URL against the placeholder string instead of nullish
  frontend/src/lib/api.ts
Labels: frontend, engine, fix

#282 refactor(engine): Standardize db access + clean up api
  docker-compose.dev.yml
  docker-compose.yml
  tracecat/actions/core/cases.py
  tracecat/api/app.py
  tracecat/db/engine.py
  tracecat/types/api.py
  tracecat/workflow/definitions.py
  tracecat/workflow/executions.py
Labels: engine, internal

#284 refactor(engine): Break main app router into smaller subrouters
  tests/unit/test_workflows.py
  tracecat/api/app.py
  tracecat/api/routers/__init__.py
  tracecat/api/routers/actions.py
  tracecat/api/routers/cases/__init__.py
  tracecat/api/routers/cases/actions.py
  tracecat/api/routers/cases/contexts.py
  tracecat/api/routers/cases/management.py
  tracecat/api/routers/public/__init__.py
  tracecat/api/routers/public/callbacks.py
  tracecat/api/routers/public/dependencies.py
  tracecat/api/routers/public/webhooks.py
  tracecat/api/routers/schedules.py
  tracecat/api/routers/secrets.py
  tracecat/api/routers/udfs.py
  tracecat/api/routers/users.py
  tracecat/api/routers/validation.py
  tracecat/dsl/worker.py
  tracecat/dsl/workflow.py
  tracecat/workflow/executions/__init__.py
  tracecat/workflow/executions/models.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/management/__init__.py
  tracecat/workflow/management/definitions.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/models.py
  tracecat/workflow/management/router.py
Labels: engine, internal

#286 fix(ui): Use next-runtime-env to pass environment variables to client side
  docker-compose.yml
  frontend/Dockerfile.prod
  frontend/docker/entrypoint.sh
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/runtime-config.js
  frontend/src/app/layout.tsx
  frontend/src/lib/api.ts
Labels: frontend, fix

#285 feat(engine): Add asyncpg
  pyproject.toml
  tests/conftest.py
  tests/unit/test_expressions.py
  tracecat/actions/core/cases.py
  tracecat/api/routers/actions.py
  tracecat/api/routers/cases/actions.py
  tracecat/api/routers/cases/contexts.py
  tracecat/api/routers/cases/management.py
  tracecat/api/routers/public/callbacks.py
  tracecat/api/routers/public/dependencies.py
  tracecat/api/routers/public/webhooks.py
  tracecat/api/routers/schedules.py
  tracecat/api/routers/secrets.py
  tracecat/api/routers/udfs.py
  tracecat/api/routers/users.py
  tracecat/api/routers/validation.py
  tracecat/db/engine.py
  tracecat/db/schemas.py
  tracecat/dsl/workflow.py
  tracecat/secrets/service.py
  tracecat/types/validation.py
  tracecat/validation.py
  tracecat/workflow/executions/models.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/management/definitions.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/models.py
  tracecat/workflow/management/router.py
Labels: enhancement, engine
