Repository TracecatHQ/tracecat, pull requests merged in 2025-04, with the labels that each got.

#987 feat(functions): Add `is_working_hours` and `parse/to_time`
  tests/unit/test_functions.py
  tracecat/expressions/functions.py
Labels: enhancement, functions

#988 feat(actions): Add `update_row` and `delete_row` by ID actions
  registry/tracecat_registry/core/table.py
Labels: enhancement, core-actions

#992 feat(integrations): TheHive case templates
  registry/tracecat_registry/templates/notify/add_comment/thehive.yml
  registry/tracecat_registry/templates/notify/create_case/thehive.yml
  registry/tracecat_registry/templates/notify/update_case/description/thehive.yml
  registry/tracecat_registry/templates/notify/update_case/fields/thehive.yml
  registry/tracecat_registry/templates/notify/update_case/status/thehive.yml
Labels: enhancement, integrations

#976 feat(ui): Collapse text with 25 chars plus in lookup tables
  frontend/src/components/tables/table-view.tsx
Labels: frontend

#995 feat(engine): Executor return value size limit
  tests/unit/test_executor_router.py
  tracecat/executor/constants.py
  tracecat/executor/router.py
  tracecat/types/exceptions.py
Labels: enhancement, engine

#998 feat(ui): Add hotkeys to toggle events panel and action panel
  frontend/src/components/workbench/workbench.tsx
Labels: enhancement, frontend

#999 refactor(engine): Extract out BaseTablesService from TablesService
  tracecat/tables/service.py
Labels: engine, refactor

#1006 refactor!: Drop ollama service support
  .env.example
  .github/workflows/test-python.yml
  docker-compose.dev.yml
  docker-compose.yml
  docs/self-hosting/llms.mdx
  registry/tracecat_registry/llm/ollama.py
  registry/tracecat_registry/templates/llm/extract_data/ollama.yml
  registry/tracecat_registry/templates/llm/extract_many/ollama.yml
  registry/tracecat_registry/templates/llm/extract_one/ollama.yml
  registry/tracecat_registry/templates/llm/summarize/ollama.yml
  registry/tracecat_registry/templates/llm/title/ollama.yml
  tests/conftest.py
  tests/llm/test_providers.py
  tests/llm/test_template_actions.py
  tracecat/api/common.py
  tracecat/api/executor.py
  tracecat/config.py
  tracecat/llm/__init__.py
  tracecat/llm/ollama.py
Labels: breaking

#1003 feat(app): Implement backend for case management and fields
  alembic/versions/1ccd61edfcaa_add_case_and_casefields_schemas.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/tables/table-view.tsx
  models.py
  registry/tracecat_registry/core/cases.py
  tests/unit/test_case_fields_integration.py
  tests/unit/test_case_fields_service.py
  tests/unit/test_cases_service.py
  tracecat/api/app.py
  tracecat/cases/__init__.py
  tracecat/cases/constants.py
  tracecat/cases/enums.py
  tracecat/cases/models.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/db/schemas.py
  tracecat/tables/common.py
  tracecat/tables/service.py
Labels: enhancement

#1007 feat(engine): Add case comments backend
  alembic/versions/0fd54220f319_add_casecomment_schema.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_case_comments_service.py
  tracecat/cases/models.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/db/schemas.py
Labels: enhancement

#1009 feat(registry): Add create/update case and create/update case comments UDFs
  registry/tracecat_registry/core/cases.py
Labels: enhancement, integrations

#1014 feat(ui): Case management
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/organization/page.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/fields/page.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/src/components/badges.tsx
  frontend/src/components/cases/case-badge.tsx
  frontend/src/components/cases/case-categories.tsx
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/components/cases/case-panel-description.tsx
  frontend/src/components/cases/case-panel-selectors.tsx
  frontend/src/components/cases/case-panel-summary.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-table-columns.tsx
  frontend/src/components/cases/case-table-insert-button.tsx
  frontend/src/components/cases/case-table.tsx
  frontend/src/components/cases/cases-side-nav.tsx
  frontend/src/components/cases/editor.css
  frontend/src/components/icons.tsx
  frontend/src/components/jsonschema-table.tsx
  frontend/src/components/nav/workspace-nav.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/lib/auth.ts
  frontend/src/lib/hooks.tsx
  frontend/src/lib/jsonschema.ts
  frontend/src/providers/case-panel.tsx
  frontend/src/types/schemas.ts
  frontend/tests/jsonschema.test.ts
Labels: enhancement, frontend

#993 feat(integrations): Productionize alert triage agents
  registry/tracecat_registry/templates/agentic/incident_response/analyze_alert.yml
  registry/tracecat_registry/templates/agentic/incident_response/build_timeline.yml
  registry/tracecat_registry/templates/agentic/incident_response/extract_fields.yml
  registry/tracecat_registry/templates/agentic/incident_response/plan_response.yml
  registry/tracecat_registry/templates/llm/experimental/alert_contextualizer.yml
  registry/tracecat_registry/templates/llm/experimental/ioc_extractor.yml
  registry/tracecat_registry/templates/llm/experimental/remediation_generator.yml
Labels: enhancement, integrations

#1017 chore!: Drop LLM templates
  registry/tracecat_registry/templates/llm/extract_data/ollama.yml
  registry/tracecat_registry/templates/llm/extract_data/openai.yml
  registry/tracecat_registry/templates/llm/extract_many/ollama.yml
  registry/tracecat_registry/templates/llm/extract_many/openai.yml
  registry/tracecat_registry/templates/llm/extract_one/ollama.yml
  registry/tracecat_registry/templates/llm/extract_one/openai.yml
  registry/tracecat_registry/templates/llm/summarize/ollama.yml
  registry/tracecat_registry/templates/llm/summarize/openai.yml
  registry/tracecat_registry/templates/llm/title/ollama.yml
  registry/tracecat_registry/templates/llm/title/openai.yml
  tests/llm/test_template_actions.py
Labels: integrations, breaking

#1019 refactor(app): Constrain table column types
  frontend/src/app/workspaces/[workspaceId]/cases/fields/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/components/tables/table-view-column-menu.tsx
  frontend/src/lib/tables.ts
  tests/unit/test_table_csv_importer.py
  tests/unit/test_tables_service.py
  tracecat/tables/common.py
  tracecat/tables/enums.py
Labels: refactor

#1020 fix(integrations): Slack response types
  registry/tracecat_registry/integrations/slack_sdk.py
Labels: integrations, fix

#1021 fix(ui): Fixing csv import window and handling large texts
  frontend/src/components/tables/table-import-csv-dialog.tsx
  frontend/src/components/tables/table-view.tsx
Labels: frontend

#1016 feat(ui): Improve case management UI
  frontend/src/app/workspaces/[workspaceId]/cases/fields/page.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/src/components/cases/case-categories.tsx
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/components/cases/case-panel-description.tsx
  frontend/src/components/cases/case-panel-selectors.tsx
  frontend/src/components/cases/case-panel-summary.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-table-columns.tsx
  frontend/src/components/cases/case-table-insert-button.tsx
  frontend/src/components/cases/case-table.tsx
  frontend/src/components/cases/editor.css
  frontend/src/components/sliding-panel.tsx
  frontend/src/components/tables/table-create-dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/lib/rich-text-editor.test.ts
  frontend/src/lib/rich-text-editor.ts
Labels: enhancement, frontend

#1022 feat(integrations): Add chat completions API and support any model
  .github/workflows/test-python.yml
  registry/tracecat_registry/llm/ollama.py
  registry/tracecat_registry/llm/openai.py
  tests/llm/test_providers.py
  tracecat/llm/__init__.py
  tracecat/llm/ollama.py
  tracecat/llm/openai.py
Labels: enhancement, integrations

#1025 ci: Parameterize public port
  .env.example
  docker-compose.dev.yml
  docker-compose.yml
  docs/self-hosting/deployment-options/docker-compose.mdx
Labels: cicd

#1024 refactor(app): Drop case activity
  tracecat/cases/enums.py
  tracecat/cases/models.py
  tracecat/cases/router.py
Labels: refactor

#1027 feat(ui): Improve update case action logic + add case action tests + minor UI improvements
  frontend/src/app/workspaces/[workspaceId]/cases/layout.tsx
  frontend/src/components/cases/case-table-manage-button.tsx
  registry/tracecat_registry/core/cases.py
  tests/registry/test_core_cases.py
  tests/unit/test_case_fields_integration.py
  tracecat/cases/service.py
Labels: enhancement, frontend, tests

#1034 fix(engine): sqlalchemy pool larger than max connections
  tracecat/config.py
  tracecat/db/engine.py
Labels: bug

#1035 feat(engine): Make payload max size config and env var
  tests/unit/test_executor_router.py
  tracecat/config.py
  tracecat/executor/constants.py
  tracecat/executor/router.py
Labels: engine

#1041 feat(integrations): OpenCTI
  registry/pyproject.toml
  registry/tracecat_registry/integrations/opencti.py
  scripts/install-packages.sh
  tests/registry/test_opencti.py
Labels: enhancement, integrations

#1038 feat(ui): Pass case ID into workflow trigger
  frontend/src/components/cases/case-workflow-trigger.tsx
Labels: enhancement, frontend

#1040 feat(ui): Use query params for case panel
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-table.tsx
  frontend/src/components/cases/case-workflow-trigger.tsx
  frontend/src/components/sliding-panel.tsx
  frontend/src/providers/case-panel.tsx
Labels: enhancement, frontend

#1039 feat(integrations): k8s exec pods
  pyproject.toml
  registry/tracecat_registry/ee/kubernetes.py
  registry/tracecat_registry/ee/podman.py
  registry/tracecat_registry/integrations/aws_boto3.py
  tracecat/ee/sandbox/kubernetes.py
Labels: integrations

#1042 feat(ui): Store table state in local storage
  frontend/src/components/cases/case-table.tsx
  frontend/src/components/data-table/table.tsx
Labels: enhancement, frontend

#1044 refactor(registry)!: Add _case suffix to core.cases actions
  registry/tracecat_registry/core/cases.py
  tests/registry/test_core_cases.py
Labels: breaking, refactor

#1045 feat(registry): Add get and list cases
  registry/tracecat_registry/core/cases.py
  tests/registry/test_core_cases.py
  tests/unit/test_cases_service.py
  tracecat/cases/service.py
Labels: enhancement, integrations

#1046 feat(engine): Add Temporal search attributes in FastAPI lifespan for API
  tracecat/api/app.py
  tracecat/api/common.py
Labels: fix

#1051 feat(ui): Updated node styles
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/workbench/canvas/action-node.tsx
  frontend/src/components/workbench/canvas/canvas.tsx
  frontend/src/components/workbench/canvas/custom-handle.tsx
  frontend/src/components/workbench/canvas/delete-node-dialog.tsx
  frontend/src/components/workbench/canvas/node-styles.ts
  frontend/src/components/workbench/canvas/trigger-node.tsx
  frontend/src/hooks/canvas/index.ts
  frontend/src/hooks/canvas/use-breakpoint.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-debounce.tsx
  frontend/src/hooks/use-keys.tsx
  frontend/src/lib/hooks.tsx
Labels: enhancement, frontend

#1053 fix(ui): Add delete keypress back
  frontend/src/components/workbench/canvas/canvas.tsx
Labels: fix

#1054 feat(ui): Add link to workflow in case workflow trigger
  frontend/src/components/cases/case-workflow-trigger.tsx
Labels: enhancement, frontend

#1055 feat(ui): Add case table deletion
  frontend/src/components/cases/case-table-columns.tsx
  frontend/src/components/cases/case-table.tsx
  frontend/src/components/dashboard/dashboard-table.tsx
  frontend/src/components/data-table/table.tsx
  frontend/src/components/data-table/toolbar.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/organization/org-sessions-table.tsx
  frontend/src/components/registry/registry-actions-table.tsx
  frontend/src/components/registry/registry-repos-table.tsx
  frontend/src/components/tables/tables-dashboard.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/components/workspaces/workspace-secrets-table.tsx
  frontend/src/lib/hooks.tsx
Labels: enhancement, frontend

#1059 refactor(ui): Drop org secrets from UI
  frontend/src/app/organization/credentials/page.tsx
  frontend/src/app/organization/sidebar-nav.tsx
Labels: frontend, refactor

#1061 fix(ui): Refetch actions on delete
  frontend/src/components/workbench/canvas/canvas.tsx
  frontend/src/lib/hooks.tsx
Labels: frontend, fix

#1060 feat(ui): Hide org settings if not admin
  frontend/src/app/organization/layout.tsx
  frontend/src/components/nav/user-nav.tsx
  frontend/src/components/nav/workspace-nav.tsx
  frontend/src/components/organization/sidebar-nav.tsx
Labels: frontend

#1062 feat(ui): Make transparent border handles wider
  frontend/src/components/ui/resizable.tsx
Labels: frontend

#1065 fix(integrations)!: Drop pytenable
  registry/pyproject.toml
  registry/tracecat_registry/integrations/tenable_nessus.py
Labels: integrations, fix

#1066 fix: Fix events sidebar fetching again
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/cases/case-workflow-trigger.tsx
  frontend/src/components/nav/workbench-nav.tsx
  frontend/src/components/workbench/events/events-sidebar.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/providers/builder.tsx
  frontend/src/providers/query.tsx
  tracecat/workflow/executions/service.py
Labels: fix

#1067 feat(ui): Improve events timeline styles + add view input/result
  frontend/src/app/page.tsx
  frontend/src/components/workbench/canvas/action-node.tsx
  frontend/src/components/workbench/events/events-workflow.tsx
Labels: enhancement, frontend

#1068 feat(ui): Navbar updates
  frontend/src/components/loading/spinner.tsx
  frontend/src/components/nav/workbench-nav.tsx
  frontend/src/components/workbench/events/events-workflow.tsx
  frontend/src/lib/hooks.tsx
Labels: enhancement, frontend

#1052 feat(integrations): Splunk search job and results
  registry/tracecat_registry/templates/detect/query_events/splunk.yml
Labels: enhancement, integrations

#1071 perf(app): Return only 1 workflow definition in webhook fastapi dependency
  tracecat/webhooks/dependencies.py
Labels: api, perf

#1070 refactor(ui): Drop workflow status checks in webhook and visuals from UI
  frontend/src/components/nav/workbench-nav.tsx
  frontend/src/providers/workflow.tsx
  tracecat/webhooks/dependencies.py
Labels: frontend, api

#1072 feat: Add more columns to workflows table + persistent filters
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/dashboard/create-workflow-button.tsx
  frontend/src/components/dashboard/dashboard-table.tsx
  frontend/src/components/data-table/column-header.tsx
  frontend/src/components/data-table/table.tsx
  frontend/src/components/data-table/view-options.tsx
  frontend/src/components/nav/workbench-nav.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/lib/utils.ts
  tracecat/workflow/management/management.py
  tracecat/workflow/management/models.py
  tracecat/workflow/management/router.py
Labels: frontend, api

#1073 feat(ui): Show action icons in registry table
  frontend/src/components/registry/icons.tsx
  frontend/src/components/registry/registry-actions-table.tsx
  frontend/src/components/workbench/panel/action-panel.tsx
Labels: enhancement, frontend

#1074 fix(ui): Fix action ref copy and don't select node when clicking on toolbar
  frontend/src/components/workbench/canvas/action-node.tsx
Labels: frontend, fix

#1076 feat(ui): Add action panel ref + expand action panel on node click
  frontend/src/components/ui/popover.tsx
  frontend/src/components/workbench/canvas/action-node.tsx
  frontend/src/components/workbench/panel/action-panel.tsx
Labels: enhancement, frontend

#1080 fix(ui): Fix some UI inconsistencies
  frontend/src/components/json-viewer.tsx
  frontend/src/components/workbench/events/events-workflow.tsx
Labels: frontend, fix

#1081 fix(engine): More extensive error path handling and avoid null ActionErrorInfo
  tracecat/dsl/models.py
  tracecat/dsl/scheduler.py
Labels: engine, fix

#1084 feat(app): Add setting to control exports
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/dashboard/dashboard-table.tsx
  frontend/src/components/export-workflow-dropdown-item.tsx
  frontend/src/components/nav/workbench-nav.tsx
  frontend/src/components/organization/org-settings-app.tsx
  frontend/src/components/toggleable-dropdown-item.tsx
  tracecat/settings/models.py
  tracecat/workflow/management/router.py
Labels: frontend

#1086 fix(ui): Handle oauth/saml login loading states gracefully
  frontend/src/app/page.tsx
Labels: frontend, fix

#1089 docs: Explode-implode fetcher-processor pattern
  docs/img/tutorials/explode-implode/api-keys.png
  docs/img/tutorials/explode-implode/execute-workflow.png
  docs/img/tutorials/explode-implode/extract-fields.png
  docs/img/tutorials/explode-implode/fetch-data.png
  docs/img/tutorials/explode-implode/filter-data.png
  docs/img/tutorials/explode-implode/lookup-url.png
  docs/img/tutorials/explode-implode/loop.png
  docs/img/tutorials/explode-implode/new-table.png
  docs/img/tutorials/explode-implode/processor-workflow.png
  docs/img/tutorials/explode-implode/table.png
  docs/img/tutorials/explode-implode/upsert-data.png
  docs/tutorials/explode-implode.mdx
  playbooks/tutorials/explode-implode/enrich-urls.yaml
  playbooks/tutorials/explode-implode/fetch-urls.yaml
Labels: documentation, playbooks

#1090 fix(engine): Pass memo into error workflow
  tracecat/dsl/common.py
  tracecat/dsl/workflow.py
  tracecat/workflow/executions/models.py
Labels: engine, fix

#1087 feat(app): Allow all org users to read app settings
  tracecat/settings/router.py
Labels: api

#1091 feat(engine): Add url to error workflow info and return errors as list
  tests/unit/test_workflows.py
  tracecat/dsl/models.py
  tracecat/dsl/workflow.py
  tracecat/workflow/executions/models.py
Labels: enhancement, engine

#1092 feat(engine): Implement detached child workflows
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workbench/events/events-workflow.tsx
  registry/tracecat_registry/core/workflow.py
  tests/unit/test_workflows.py
  tracecat/dsl/common.py
  tracecat/dsl/enums.py
  tracecat/dsl/workflow.py
  tracecat/workflow/executions/enums.py
  tracecat/workflow/executions/models.py
  tracecat/workflow/executions/service.py
Labels: enhancement, engine

#1093 feat(engine): Include workflow title and trigger type in error handler
  tests/unit/test_workflows.py
  tracecat/dsl/common.py
  tracecat/dsl/interceptor.py
  tracecat/dsl/workflow.py
  tracecat/workflow/executions/models.py
Labels: enhancement, engine

#1097 docs: Retry require and wait until tutorial
  docs/docs.json
  docs/img/tutorials/wait-retry-until/alert-working-hours.png
  docs/img/tutorials/wait-retry-until/execute-remind-user.png
  docs/img/tutorials/wait-retry-until/filter-thumbs-up.png
  docs/img/tutorials/wait-retry-until/lookup-user.png
  docs/img/tutorials/wait-retry-until/notify-today.png
  docs/img/tutorials/wait-retry-until/notify-tomorrow.png
  docs/img/tutorials/wait-retry-until/output-schema.png
  docs/img/tutorials/wait-retry-until/require-example.png
  docs/img/tutorials/wait-retry-until/require.png
  docs/img/tutorials/wait-retry-until/retry-until.png
  docs/img/tutorials/wait-retry-until/send-reminder.png
  docs/img/tutorials/wait-retry-until/slack-oauth-scopes.png
  docs/img/tutorials/wait-retry-until/start-delay.png
  docs/img/tutorials/wait-retry-until/wait-until.png
  docs/introduction.mdx
  docs/quickstart/core-actions.mdx
  docs/tutorials/wait-retry-until.mdx
Labels: documentation

#1096 feat(app): Add workspace role + create workspace on register
  alembic/versions/e7c6481e972b_add_membership_access_level.py
  frontend/src/app/organization/layout.tsx
  frontend/src/app/registry/repositories/page.tsx
  frontend/src/app/workspaces/[workspaceId]/settings/general/page.tsx
  frontend/src/app/workspaces/[workspaceId]/settings/profile/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/components/nav/nav-buttons.tsx
  frontend/src/components/nav/navbar.tsx
  frontend/src/components/nav/user-nav.tsx
  frontend/src/components/nav/workspace-nav.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/organization/org-sessions-table.tsx
  frontend/src/components/organization/org-settings-app.tsx
  frontend/src/components/registry/registry-actions-table.tsx
  frontend/src/components/registry/registry-repos-table.tsx
  frontend/src/components/tables/table-view-action.tsx
  frontend/src/components/tables/table-view-column-menu.tsx
  frontend/src/components/tables/tables-side-nav.tsx
  frontend/src/components/user-avatar.tsx
  frontend/src/components/workspaces/add-workspace-member.tsx
  frontend/src/components/workspaces/add-workspace-secret.tsx
  frontend/src/components/workspaces/workspace-general.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/components/workspaces/workspace-selector.tsx
  frontend/src/lib/auth.ts
  frontend/src/lib/hooks.tsx
  frontend/src/lib/workspace.ts
  frontend/src/providers/auth.tsx
  frontend/src/providers/workspace.tsx
  tests/conftest.py
  tracecat/auth/credentials.py
  tracecat/auth/router.py
  tracecat/auth/users.py
  tracecat/authz/controls.py
  tracecat/authz/models.py
  tracecat/authz/service.py
  tracecat/common.py
  tracecat/db/schemas.py
  tracecat/secrets/router.py
  tracecat/settings/models.py
  tracecat/settings/service.py
  tracecat/types/auth.py
  tracecat/workspaces/models.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Labels: enhancement, frontend
