Repository TracecatHQ/tracecat, pull requests merged in 2025-07, with the labels that each got.

#1234 feat(enine): Use uv in ray runtime env
  Dockerfile
  Dockerfile.dev
  tracecat/executor/service.py
Labels: enhancement, performance

#1241 feat(app): Differentiate disconnect and delete operations for integrations
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_integrations_service.py
  tracecat/integrations/router.py
Labels: api

#1230 feat(integrations): Microsoft Teams Integrations, except formatting
  registry/tracecat_registry/integrations/microsoft_graph.py
  registry/tracecat_registry/integrations/microsoft_teams.py
Labels: enhancement, integrations

#1247 feat(ui): Cleanup integration provider page styles
  frontend/src/app/workspaces/[workspaceId]/integrations/[providerId]/page.tsx
  frontend/src/components/integrations/icons.tsx
Labels: frontend

#1251 feat: Enhance OAuth secret handling with discriminated unions and provider keys
  alembic/versions/4c1a69e5b34b_migrate_provider_ids_remove_suffixes.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/icons.tsx
  registry/tracecat_registry/__init__.py
  registry/tracecat_registry/_internal/models.py
  registry/tracecat_registry/_internal/registry.py
  registry/tracecat_registry/integrations/agents/builder.py
  registry/tracecat_registry/integrations/microsoft_entra.py
  registry/tracecat_registry/integrations/microsoft_teams.py
  tests/unit/test_agent_builder.py
  tests/unit/test_integrations_service.py
  tests/unit/test_oauth_state.py
  tests/unit/test_template_actions.py
  tracecat/executor/service.py
  tracecat/integrations/dependencies.py
  tracecat/integrations/models.py
  tracecat/integrations/providers/__init__.py
  tracecat/integrations/providers/microsoft.py
  tracecat/integrations/providers/microsoft_teams.py
  tracecat/integrations/router.py
  tracecat/integrations/service.py
  tracecat/registry/actions/models.py
  tracecat/registry/actions/service.py
  tracecat/registry/loaders.py
  tracecat/registry/repository.py
  tracecat/validation/service.py
Labels: enhancement

#1243 feat: Case attachments
  .env.example
  .github/workflows/test-python.yml
  .gitignore
  Caddyfile
  alembic/versions/9a001807d27b_add_case_attachments.py
  docker-compose.dev.yml
  docker-compose.yml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-activity-feed-event.tsx
  frontend/src/components/cases/case-activity-feed.tsx
  frontend/src/components/cases/case-attachments-section.tsx
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-table-manage-button.tsx
  frontend/src/components/cases/case-timeline-example.tsx
  models.py
  pyproject.toml
  tests/unit/test_attachment_events_detailed.py
  tests/unit/test_blob_storage.py
  tests/unit/test_case_attachments_integration.py
  tests/unit/test_case_attachments_service.py
  tracecat/api/app.py
  tracecat/cases/enums.py
  tracecat/cases/models.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/config.py
  tracecat/db/schemas.py
  tracecat/middleware/__init__.py
  tracecat/middleware/client_ip.py
  tracecat/storage.py
Labels: enhancement, frontend, api

#1252 feat: Rename sqltype decimal to numeric
  alembic/versions/419454d1c5c5_rename_decimal_to_numeric_in_table_.py
  docs/openapi.yml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel-fields.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/lib/tables.ts
  tests/unit/test_table_csv_importer.py
  tests/unit/test_tables_service.py
  tracecat/tables/common.py
  tracecat/tables/enums.py
Labels: enhancement

#1253 feat(ui): Case UI revamp
  frontend/src/app/workspaces/[workspaceId]/cases/[caseId]/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/[caseId]/page.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/fields/page.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/src/app/workspaces/[workspaceId]/integrations/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/integrations/page.tsx
  frontend/src/app/workspaces/[workspaceId]/settings/custom-fields/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/settings/custom-fields/page.tsx
  frontend/src/app/workspaces/[workspaceId]/settings/sidebar-nav.tsx
  frontend/src/client/services.gen.ts
  frontend/src/components/cases/case-activity-feed.tsx
  frontend/src/components/cases/case-attachments-section.tsx
  frontend/src/components/cases/case-badge.tsx
  frontend/src/components/cases/case-categories.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/components/cases/case-panel-section.tsx
  frontend/src/components/cases/case-panel-selectors.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-property-row.tsx
  frontend/src/components/cases/case-table-manage-button.tsx
  frontend/src/components/cases/case-table.tsx
  frontend/src/components/cases/case-value-display.tsx
  frontend/src/components/cases/case-workflow-trigger.tsx
  frontend/src/components/cases/cases-page-content.tsx
  frontend/src/components/cases/cases-side-nav.tsx
  frontend/src/components/nav/user-nav.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/lib/utils.ts
Labels: enhancement

#1264 fix: Handle OAuth grant type properly in frontend integrations
  frontend/src/app/workspaces/[workspaceId]/integrations/[providerId]/page.tsx
  frontend/src/app/workspaces/[workspaceId]/integrations/page.tsx
  frontend/src/components/provider-config-form.tsx
  frontend/src/lib/hooks.tsx
Labels: frontend, fix

#1273 fix: Broken grant / integrations UI flow
  docs/img/integrations/oauth/ac-flow.png
  docs/img/integrations/oauth/cc-flow-connected.png
  docs/img/integrations/oauth/cc-flow.png
  docs/img/integrations/oauth/configure-provider.png
  docs/img/integrations/oauth/select-provider.png
  docs/integrations/oauth-integrations.mdx
  frontend/src/app/workspaces/[workspaceId]/integrations/[providerId]/page.tsx
  frontend/src/app/workspaces/[workspaceId]/integrations/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/integrations/page.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/components/integrations/icons.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/provider-config-form.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/lib/hooks.tsx
  tracecat/integrations/providers/microsoft.py
  tracecat/integrations/providers/microsoft_defender.py
  tracecat/integrations/providers/microsoft_entra.py
  tracecat/integrations/providers/microsoft_sentinel.py
  tracecat/integrations/router.py
Labels: frontend, api

#1274 feat(ui): Make workflow and case table rows Links
  frontend/src/components/cases/case-table.tsx
  frontend/src/components/dashboard/dashboard-table.tsx
  frontend/src/components/dashboard/table-actions.tsx
  frontend/src/components/dashboard/workflow-folders-table.tsx
  frontend/src/components/data-table/table.tsx
  frontend/src/components/sidebar/app-menu.tsx
  frontend/src/components/sidebar/registry-sidebar.tsx
Labels: frontend

#1280 feat: Add per-action environment override
  alembic/versions/49d0fbd1431f_add_environment_to_action.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel.tsx
  tests/unit/test_action_environment_override.py
  tests/unit/test_workflows.py
  tracecat/db/schemas.py
  tracecat/dsl/common.py
  tracecat/dsl/models.py
  tracecat/dsl/workflow.py
  tracecat/workflow/actions/models.py
Labels: enhancement, engine

#1281 feat(engine): Given schedules admin role
  tracecat/workflow/schedules/bridge.py
  tracecat/workflow/schedules/service.py
Labels: engine, fix

#1282 feat(ui): Yaml input only for reshape action
  frontend/src/components/builder/panel/action-panel.tsx
Labels: frontend

#1260 feat: Splunk KV store actions + submit event to Splunk with HEC
  registry/tracecat_registry/integrations/splunk.py
Labels: integrations

#1285 fix(ui): Add core keymap back to ExpressionInput
  frontend/src/components/editor/expression-input.tsx
Labels: frontend, fix

#1266 feat: haveibeenpwned Integration
  registry/tracecat_registry/integrations/have_i_been_pwned.py
Labels: question, integrations

#1267 feat: WHOIS Integration for Domains & IPs
  registry/pyproject.toml
  registry/tracecat_registry/integrations/whois.py
Labels: question, integrations

#1270 feat: Zendesk Integration
  registry/tracecat_registry/integrations/zendesk.py
Labels: question, integrations

#1276 feat: Okta Integration
  registry/tracecat_registry/integrations/okta.py
Labels: question, integrations

#1292 chore(deps): Bump axios to v1.11.0
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: dependencies

#1277 feat: Okta OAR Integration
  registry/tracecat_registry/integrations/okta_oar.py
Labels: question, integrations

#1290 feat(registry): Set default wait strategy for subflows to detach
  docs/tutorials/child-workflows.mdx
  registry/tracecat_registry/core/workflow.py
Labels: integrations

#1293 feat(engine): Improve chat streaming with Redis TTL and enhanced agent execution
  registry/tracecat_registry/integrations/agents/builder.py
  tracecat/chat/router.py
  tracecat/chat/service.py
  tracecat/config.py
  tracecat/prompt/flows.py
  tracecat/redis/client.py
Labels: enhancement, refactor

#1300 feat(integrations): Convert HackerOne integration to YAML templates
  registry/tracecat_registry/integrations/hackerone.py
  registry/tracecat_registry/templates/tools/hackerone/get_program.yml
  registry/tracecat_registry/templates/tools/hackerone/get_programs.yml
  registry/tracecat_registry/templates/tools/hackerone/get_report.yml
  registry/tracecat_registry/templates/tools/hackerone/get_reports.yml
Labels: integrations

#1298 feat(integrations): Convert Okta integration to YAML templates
  CLAUDE.md
  registry/tracecat_registry/integrations/okta.py
  registry/tracecat_registry/templates/tools/okta/activate_user.yml
  registry/tracecat_registry/templates/tools/okta/add_to_group.yml
  registry/tracecat_registry/templates/tools/okta/assign_group_to_app.yml
  registry/tracecat_registry/templates/tools/okta/clear_user_sessions.yml
  registry/tracecat_registry/templates/tools/okta/create_user.yml
  registry/tracecat_registry/templates/tools/okta/expire_password.yml
  registry/tracecat_registry/templates/tools/okta/expire_password_with_temporary_password.yml
  registry/tracecat_registry/templates/tools/okta/get_group_members.yml
  registry/tracecat_registry/templates/tools/okta/get_groups_assigned_to_user.yml
  registry/tracecat_registry/templates/tools/okta/get_user.yml
  registry/tracecat_registry/templates/tools/okta/list_groups_in_org.yml
  registry/tracecat_registry/templates/tools/okta/list_users.yml
  registry/tracecat_registry/templates/tools/okta/remove_from_group.yml
  registry/tracecat_registry/templates/tools/okta/reset_password.yml
  registry/tracecat_registry/templates/tools/okta/revoke_sessions.yml
  registry/tracecat_registry/templates/tools/okta/search_users.yml
  registry/tracecat_registry/templates/tools/okta/suspend_user.yml
  registry/tracecat_registry/templates/tools/okta/unsuspend_user.yml
Labels: integrations

#1299 feat(integrations): Convert Have I Been Pwned integration to YAML templates
  registry/tracecat_registry/integrations/have_i_been_pwned.py
  registry/tracecat_registry/templates/tools/hibp/check_email_breaches.yml
  registry/tracecat_registry/templates/tools/hibp/check_email_pastes.yml
  registry/tracecat_registry/templates/tools/hibp/get_all_breaches.yml
  registry/tracecat_registry/templates/tools/hibp/get_breach_details.yml
  registry/tracecat_registry/templates/tools/hibp/get_data_classes.yml
  registry/tracecat_registry/templates/tools/hibp/get_latest_breach.yml
Labels: integrations

#1306 feat(integrations)!: Add redis dedupe
  docs/tutorials/data-transforms.mdx
  registry/tracecat_registry/core/transform.py
  tests/conftest.py
  tests/registry/test_core_transform.py
Labels: integrations

#1307 feat(integrations): add assign_user_by_email action for cases
  registry/tracecat_registry/core/cases.py
  tracecat/auth/users.py
Labels: integrations

#1308 fix(app): Sort workflows by `created_at` in regular list endpoint
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
Labels: fix

#1311 fix(ui): Show correct message for non-running workflows with no events
  frontend/src/components/builder/events/events-sidebar.tsx
  frontend/src/components/builder/events/events-workflow.tsx
Labels: fix
